/* Global */

* {
  box-sizing: border-box;
  color: #fff;
}

html {
  margin: 0 auto;
  max-width: 2560px;
  min-height: 100%;
  background-color: #000;
}

body {
  margin: 0 auto;
  max-width: 1920px;
  min-height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
}

.container {
  margin-top: 20px;
  height: 700px;
}

h2 {
  color: #D93232;
  text-align: center;
  font-size: 10em;
}

/* main {
  
} */

/* Video */

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

/* Header & Nav */




/* Welcome Page */
section.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 1080px;
}


/* .welcome-page article {
  

} */

.welcome-page h1 {
  color: #D93232;
  font-size: 18em;
  font-weight: bold;
  font-style: italic;
}

/* Media Rules */

@media only screen and (min-width: 320px) and (max-width: 490px) {

  .welcome-page h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3em;
  }
 
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  .welcome-page h1 {
    color: #D93232;
    font-size: 8em;
    font-weight: bold;
    font-style: italic;
  }

  h2 {
    font-size: 6em
  }


}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {

  .welcome-page h1 {
    color: #D93232;
    font-size: 12em;
    font-weight: bold;
    font-style: italic;
  }
}


/* 1920+ */

@media only screen and (min-width: 1921px) {
  body {
    max-width: 2560px;
  }
}